@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --Gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));

  --font: 'Raleway', sans-serif;

}

body {
  background-color: var(--Very-Dark-Blue);
  background-image: url(../images/bg-mobile.png)  ;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

main{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container-1 {
  background-color: var(--Dark-Blue);
  width: 85vw;
  height: 186px;
  border-radius: 10px 6rem 10px 10px;
}

.container-1 img {
  margin: 2rem 0 0 2rem;
}



.container-2 img {
  border-radius: 10px;
  border: 10px solid var(--Very-Dark-Blue);
}

.section-2 {
  position: relative;
  margin-top: 1rem;
  width: 85vw;
  height: 166px;
  background-color: var(--Dark-Blue);
  color: white;
  font-family: var(--font);


}

.section-2 p {
  display: flex;
  height: 50%;
  width: 100%;
  padding: 2rem 0 0 0.5rem;
  font-size: 17px;
  justify-content: center;

}


.gb {
  font-family: var(--font);
  font-weight: 700;
  margin: 0 0.3rem 0 0.3rem;
}

.container-3 {
  position: relative;
  width: 70vw;
  height: 2vh;
  background-color: var(--Very-Dark-Blue);
  margin-left: 1.5rem;
  border-radius: 1rem;
}

.container-3::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--Gradient);
  border-radius: 1rem;
  animation: animate 3s 1.5s 1 forwards linear;

}

.container-3::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  animation: animate-2 3s 1.5s 1 forwards linear;
}

@keyframes animate {
  0% {
    width: 2%;
  }

  100% {
    width: 80%;
  }
}

@keyframes animate-2 {
  0% {
    left: 0%;

  }

  100% {
    left: 78%;
  }
}

.gb-3 {
  margin-top: -1rem;
}

.gb-1 {

  width: 100%;

}

.gb-2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 0.5rem;
}

.container-h {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  position: absolute;
  width: 100%;
  top: 9rem;
}

.container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  height: 67px;
  background-color: white;
  border-radius: 10px;
  font-family: var(--font);

}

.one{
  font-size: 30px;
  font-weight: 700;
  color: var(--Dark-Blue);
}

.two{
  font-weight:600;
  font-size: 15px;
  color: var(--Grayish-Blue);
}

@media (min-width:1024px){
 body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-desktop.png )  ;
  background-repeat:no-repeat;
  background-position: bottom;
  background-size:1600px 400px;
  height: 100vh;
  
 }
  main{
    flex-flow: row;
    gap: 1rem;
   margin-left: 2rem;
   margin-right: 2rem;
   max-width: 100%;
  }

  .container-1{
    max-width: 360px;
    height: 200px;
  }
.section-2{
  max-width: 565px;
  margin-top: 2rem;
 
}
.container-3{
  max-width: 500px;
}
.container-h{
  top: -12rem;
  left: 8rem;
  position: relative;
}
.container-h::before{
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid white;
  transform: rotate(153deg);
  top: 3.5rem;
  right: 11.8rem;

}
 .section-2 .notify{
  justify-content: start;
  margin-left: 1rem;
 
}
@keyframes animate {
  0% {
    width: 3%;
  }

  100% {
    width: 80%;
  }
}
.container-3::after{
  width: 15px;
}
}
@media (max-width:280px){
  .section-2 .notify{
    font-size: 12px;
  }
}